div(ng-if="::us.get('isPlaceholder')")
    .placeholder-avatar
        .image
        .text
            .line
            .line
    p.title(translate="KANBAN.PLACEHOLDER_CARD_TITLE")
    p(translate="KANBAN.PLACEHOLDER_CARD_TEXT")


div(ng-if="::!us.get('isPlaceholder')")
    div.kanban-tagline(
        tg-colorize-tags="us.get('tags')"
        tg-colorize-tags-type="kanban"
        ng-hide="us.get('isArchived')"
    )

    div.kanban-task-inner(ng-class="::{'task-archived': us.get('isArchived')}")
         div.avatar-wrapper(
             tg-kanban-user-avatar="us.get('assigned_to')",
             ng-hide="::us.get('isArchived')"
         )

         div.task-text(ng-hide="::us.get('isArchived')")
            a.task-assigned(href="", title="{{:: 'US.ASSIGN' | translate}}")
            span.task-num(tg-bo-ref="us.get('ref')")
            a.task-name(href="", title="#{{ ::us.get('ref') }} {{ ::us.get('subject') }}", ng-bind="us.get('subject')",
                        tg-nav="project-userstories-detail:project=project.slug,ref=us.get('ref')",
                        tg-nav-get-params="{\"kanban-status\": {{::us.get('status')}}}")

            p.task-points(href="", title="{::'US.TOTAL_US_POINTS' | translate}}")
                span(ng-if="::us.get('total_points') !== null", ng-bind="us.get('total_points')")
                span.points-text(ng-if="::us.get('total_points') !== null", translate="COMMON.FIELDS.POINTS")
                span(ng-if="::us.get('total_points') === null", translate="US.NOT_ESTIMATED")

        div.task-archived-text(ng-show="::us.get('isArchived')")
            p(translate="KANBAN.ARCHIVED")
            p
                span.task-num(tg-bo-ref="us.get('ref')")
                span.task-name {{::us.get('subject')}}
            p(translate="KANBAN.UNDO_ARCHIVED")

        a.icon.icon-edit(tg-check-permission="modify_us", href="", title="{{::'COMMON.EDIT' | translate}}", ng-hide="::us.get('isArchived')")
